[Unit]
Description=Listen for new filings from Calcbench
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/home/andrew/calcbench_listener.py 
Restart=on-failure
User=andrew

[Install]
WantedBy=multi-user.target