[Unit]
Description=Listen for new filings from Calcbench
After=network-online.target

[Service]
Type=simple
ExecStart=/home/andrew/calcbench_listener.py 
Restart=always
RuntimeMaxSec=86400
User=andrew

[Install]
WantedBy=multi-user.target